.container-hor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  background-color: antiquewhite;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60%;
}
.store-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}